{% load fontawesome %}
{% fontawesome_stylesheet %}
<footer class="container-fluid text-light" style="background-color:  #1abc9c;">
  <div class="row mt-3">
    <div class="col">
    	<div class="row">
        <ul class="footer-menu">
        <li class="footer-menu-item">
        <a class="footer-menu-item-link" href="#" target="_blank">
        Sobre o RGMV</a>
       </li>
       <li class="footer-menu-item">
       <a class="footer-menu-item-link" href="#" target="_blank">
       Contato</a>
       </li>
       <li class="footer-menu-item">
       <a class="footer-menu-item-link" href="https://www.ufpi.br" target="_blank">
       Instituição</a>
       </li>
       <li class="footer-menu-item">
       <a class="footer-menu-item-link" href="https://www.capes.gov.br/" target="_blank">
       CAPES</a>
       </li>
       <li class="footer-menu-item">
       <a class="footer-menu-item-link" href="http://memoria.cnpq.br/" target="_blank">
       CNPq</a>
       </li>        
       </ul>
        </div>
    </div>
    <div class="col">
      <div class="row mt-3">
          <a class="footer-logo" href="#">
           <img src="/media/photos/logos/RGMV_1.png" class="rounded-circle" width="150" height="150">
          </a>
      </div>
      <div class="row mb-3">
        &copy; RGMV, 2019 &middot; <a href="https://www.ufpi.br" target="blank"><font color=white>UFPI</a></font>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <a> Campus Universitário Ministro Petrônio Portela </a>
          <br>
          <a> Centro de Ciências Agrárias - Departamento de fitotecnia</a>
          <br>
          <a> Bairro Ininga - Teresina - PI</a>
          <br>
          <a> CEP: 64049-550 </a>
          <br>
          <a> Contato: +55 (86)-3215-5747 </a>
        </div>
      </div>
    </div>
    <div class="col">
       <div class="row">
       	    <div class="col">       		
       	        <h5>Acompanhe:</h5>
            </div>
            <div class="col">
            	<div class="row" style="font-size: 1.3rem;">
               <a href="https://instagram.com/rgmv_ufpi" target="blank">
               {% fontawesome_icon 'instagram' color="grey" large=True %}</a>
                 </div>
                 <div class="row mt-3" style="font-size: 1.3rem;">
                 	<a href="#" target="blank">
                 	{% fontawesome_icon 'facebook-square' color="grey" large=True %}</a>
                 </div>
                 <div class="row mt-3" style="font-size: 1.3rem;">
                  <a href="https://github.com/leocbc/RGMV-UFPI" target="blank">
                  {% fontawesome_icon 'github' color="grey" large=True %}</a>
                 </div>
            </div>
        </div>        
   </div>
</div>
<div class="col"  style="font-size: 2.5rem;">
    <p class="float-right"><a href="#">{% fontawesome_icon 'angle-up' color="grey" %}</a></p>         
</div>
</footer>
