<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">RGMV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if '/' not in request.path %} active {% endif %}">
        <a class="nav-link" href="/">Início</a>
      </li>
      <li class="nav-item {% if 'posts' in request.path %} active {% endif %}">
        <a class="nav-link" href="{% url 'portal:posts' %}">Publicações</a>
      </li>
      <li class="nav-item {% if 'researchers' in request.path %} active {% endif %}">
        <a class="nav-link" href="{% url 'portal:researchers' %}">Pesquisadores</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Linhas de Pesquisa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Conservação</a>
            <a class="dropdown-item" href="#">Melhoramento</a>
            <a class="dropdown-item" href="#">BAGF-UFPI</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Outras</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'portal:history' %}">Quem somos</a>
        </li>
    </ul>
  </div>
</nav>