<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:  #48c9b0;">
  <a class="navbar-brand" href="/">
    <img src="/media/photos/logos/RGMV_1.png" width="60" height="60" class="d-inline-block rounded-circle align-top" alt=""> 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if '/' not in request.path %} active {% endif %}">
        <a class="nav-link" href="/">Início</a>
      </li>
      <li class="nav-item {% if 'researchers' in request.path %} active {% endif %}">
        <a class="nav-link" href="{% url 'portal:researchers' %}">Equipe</a>
      </li>
      <li class="nav-item {% if 'projects' in request.path %} active {% endif %}">
        <a class="nav-link" href="{% url 'portal:projects' %}">Projetos</a>
      </li>
      <li class="nav-item {% if 'pubs' in request.path %} active {% endif %}">
        <a class="nav-link" href="{% url 'portal:pubs' %}">Publicações</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Linhas de Pesquisa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'portal:line_con' %}">Conservação</a>
            <a class="dropdown-item" href="{% url 'portal:line_mel' %}">Melhoramento</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Outras</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BAGF-UFPI</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'portal:history' %}">Quem somos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busca</button>
    </form>
  </div>
</nav>