{% extends "portal/__base.html" %}

{% load fontawesome %}

{% block content %}
  <div class="container">  
    <div class="row mt-5">
   	  <div class="col text-center">
   	  	<h2>Conservação de Recursos Genéticos Vegetais</h2>
   	  	<br>
   	  	<div class="col"><h5> O feijão-fava (Phaseolus lunatus L.) é uma das principais leguminosas cultivadas em muitos países tropicais. No Brasil, é cultivado principalmente na Região Nordeste, atingindo relativa importância econômica em alguns estados, incluindo Ceará, Paraíba, Pernambuco e Rio Grande do Norte. No entanto, a cultura tem merecido pouca atenção por parte dos órgãos de pesquisa, resultando num limitado conhecimento das suas potencialidades. Várias tentativas a nível mundial e nacional foram despendidas no sentido de reunir, avaliar e manter coleções de fava, visando assegurar a conservação da variabilidade genética. </h5></div>
      </div>
      <img src="/media/photos/lines/conservacao_1.jpeg" width="500" height="400">
   	</div>
 <hr class="featurette-divider">
  <div class="row">
    <div class="col">
    	<h3> Projetos: </h3>
      <div class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-body">            
              <div class="row">
                {% for project in project_con %}
                <div class="row mb-5">
                	<div class="col">
                    <ul>
                      <li>
                        <h4>{{ project.title }} </h4>
                        <p> Pesquisador responsável: {{ project.researcher.first_name }} {{ project.researcher.last_name }}</p>
                        <a href="{{ project.researcher.lattes_link }}" target="black">(Currículo Lattes)</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>{{ project.abstract}}</h5>
                  </div>               
                </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
{% endblock %}