{% extends "portal/__base.html" %}

{% load fontawesome %}

{% block content %}
<div class="container">
 <hr class="featurette-divider">
 <div class="row mt-5">
      <div class="col text-center">
        <h2>Publicações Recentes</h2>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <div class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-body">             
              	{% for pub in pubs %}
                <div class="row mb-5">
                	<div class="col">
                    <ul>
                      <li>
                        <h4>{{ pub.title }}, {{ pub.year}}.</h4> 
                         <div class="font-up"> <h5> Periódico: {{ pub.paper }} </h5></div>
                        <h5> Acesse aqui: <a href="{{ pub.link }}" target="blank"> {% fontawesome_icon 'file' li=False %}</a></h5>
                      </li>
                    </ul>                 
                    </div>                    
                </div>
                {% endfor %}              
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
{% endblock %}