{% extends "portal/__base.html" %}

{% load fontawesome %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img src="{{ researcher.photo.url }}" alt="avatar" width="500" height="500">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h2>{{ researcher.first_name }} {{ researcher.last_name }}</h2>
                  <h5>{{ researcher.institution.name }} - {{ researcher.institution.short_name }} </h5>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  {{ researcher.bio }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3>Lattes</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <ul class="fa-ul">
                    <li> {% fontawesome_icon 'user' li=True %} <a href="{{ researcher.lattes_link }}"
                        target="blank">{{ researcher.lattes_link }}</a></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h3>Links Sociais</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <ul class="fa-ul">
                    {% if researcher.facebook_link %}
                    <li> {% fontawesome_icon 'facebook' li=True %} <a href="{{ researcher.facebook_link }}"
                        target="blank">{{ researcher.facebook_link }}</a></li>
                    {% endif %}
                    {% if researcher.instagram_link %}
                    <li> {% fontawesome_icon 'instagram' li=True %} <a href="{{ researcher.instagram_link }}"
                        target="blank">{{ researcher.instagram_link }}</a></li>
                    {% endif %}
                    {% if researcher.twitter_link %}
                    <li> {% fontawesome_icon 'twitter' li=True %} <a href="{{ researcher.twitter_link }}"
                        target="blank">{{ researcher.twitter_link }}</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}