{% extends "portal/__base.html" %}

{% load fontawesome %}

{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col text-center">
        <h2>Pesquisadores</h2>
      </div>
    </div>
 <hr class="featurette-divider">
  <div class="row">
    <div class="col">
      <div class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              	{% for researcher in researchers %}
                <div class="row mb-5">
                	<div class="col"><a href="{% url 'portal:researcher_detail' researcher.id %}"
                       ><img src="{{ researcher.photo.url }}" class="rounded-circle" alt="avatar" width="150" height="150"
                            ></a>
                       <h2>{{ researcher.first_name }} {{ researcher.last_name }}</h2>
                       <p> Instituição: {{ researcher.institution.name }} </p>                 
                       <p><a class="btn btn-secondary" href="{% url 'portal:researcher_detail' researcher.id %}" role="button">Saiba mais &raquo;</a></p>
                    </div>                    
                </div>
                {% endfor %}              
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
{% endblock %}